---
import { Image } from 'astro:assets';

interface Props {
  logo?: ImageMetadata;
  text: string;
}

const { logo, text } = Astro.props;
---

<span class="flex gap-2 font-serif font-semibold text-lg underline">
  {
    logo && <div class="w-6 h-6">
        <Image src={logo} alt="App Window logo"/>
    </div>
  }
  { text }
</span>