<div class="h-screen w-screen flex flex-col justify-center items-center gap-2">
  <span class="text-4xl font-bold">404. Not Found.</span>
  <span class="text-md text-gray-500">
    Nothing to be found here.
    <a href="/" aria-label="Go back" class="underline cursor-pointer">Go back</a>
  </span>
</div>