---
import BackgroundGrid from "../components/react/BackgroundGrid"
import TopLanguages from "../components/react/TopLanguages";
import { Image } from "astro:assets";

import GithubLogo from "../assets/github-mark.svg";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Saphal's home</title>
	</head>
	<body>
		<div id="root" class="flex flex-col gap-2 h-screen w-screen items-center p-10">
			<BackgroundGrid client:visible />
			
			<span class="text-5xl font-serif font-semibold">Saphal Poudyal</span>
			<div class="font-[100] italic font-serif">
				Full-stack developer | 
				CS Student at the University of Southern Mississppi
			</div>

			<div class="flex lg:flex-row flex-col lg:w-full lg:px-40">
				<div class="flex-1"></div>
				<div class="flex-1">
					<TopLanguages client:idle>
							<Image slot="githubLogo" src={GithubLogo} alt="Github logo"/>
					</TopLanguages>
				</div>
			</div>
		</div>
	</body>
</html>
